# Nuxt dev/build outputs
.nuxt
.output
.data
.nitro
.cache

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vitest
coverage/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example